<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie-edge")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    script(src="/js/axios.js")
    script(src="/js/charts.js")
    title Cadastro de Clientes
    style.
      body, html {
        height: 100%;
        background: linear-gradient(to right, #3f4c6b, #606c88);
      }
      body {
        display: flex;
        align-items: center;
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  body
      block main
      script(src="/js/MyChart.js")
        
      